<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<h1>Welcome to {{title}}</h1>

		<button (click) = "onButtonClick()" class="btn btn-danger">See All Tasks</button>
		<button (click)="onButtonClickParam(5)" class="btn btn-warning">Click me 5!</button>
		<button (click)="onButtonClickEvent($event)" class="btn btn-primary">Click me Event!</button>

		<h1>Some Tasks</h1>

		<table class="table">
			<thead>
			    <tr>
					<th scope="col">Title</th>
					<th scope="col">See More?</th>
					<th scope="col">Edit?</th>
					<th scope="col">Delete?</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let task of data.tasks">
					<th scope="col">{{ task["title"]}}</th>
					<th scope="col"><button (click)="onButtonClickTask(task['_id'])"
					class="btn btn-secondary">See More</button></th>
					<th scope="col"><button (click)="onButtonClickEdit(task['_id'])"class="btn btn-warning">Edit</button></th>
					<th scope="col"><button (click)="onButtonClickDelete(task['_id'])" class="btn btn-danger">Delete</button></th>
				</tr>
			</tbody>
		</table>
		<div style="margin-left: 35%">
			<h2 *ngIf = "taskdata.task">Description: {{taskdata["task"]["description"]}}</h2>
		</div>

	  	<form (submit)="onSubmit()" class="form-group" style="width: 60%" *ngIf = "!isUpdating">
		    <p> {{ newTask | json}} </p>
		    <label for="title">Title</label>
		    <input type="text" name="title" [(ngModel)]="newTask.title" class="form-control" />
		    <label for="description">Description</label>
		    <input type="text" name="description" [(ngModel)]="newTask.description" class="form-control" />
		    <input type="submit" value="Create Task" class="btn btn-primary" />
		</form>
		<form (submit)="onUpdate(oneTask.task['_id'])" class="form-group" style="width: 60%" *ngIf = "isUpdating">
		    <p> {{ oneTask | json}} </p>
		    <label for="oneTask.task['title']">Title</label>
		    <input type="text" name="oneTask.task['title']" value="oneTask.task['title']" [(ngModel)]="oneTask.task['title']" class="form-control"/>
		    <label for="oneTask.task['description']">Description</label>
		    <input type="text" name="oneTask.task['description']" [(ngModel)]="oneTask.task['description']" class="form-control"/>
		    <input type="submit" value="Update Task" class="btn btn-primary" />
		    
		</form>
		<button *ngIf="isUpdating" (click)="onButtonClickCancel()" class="btn btn-secondary">Cancel</button>
	</body>
</html>